<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <title>Moomatic</title>
  </head>
  <body style="background-color: rgb(144, 238, 144)">
    <h1>Good Morning!</h1>

    <a href="AllData.html" class="btn btn-light">All Data</a>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul style="color: white; background-color: green">
            <h2>General Insights</h2>
            <li>The herd.</li>
            <li>Summer brought higher energy and food consumption.</li>
            <li>The cows were yeeted by a thanos snap.</li>
          </ul>
        </div>
        <div class="col-sm-4" style="color: white; background-color: blue">
          <h3>These cows could use a little extra attention</h3>
          <a href="#" class="btn btn-light">Cow ID#</a>
          <a href="#" class="btn btn-light">Cow ID#</a>
        </div>
        <div class="col-sm-4" style="color: white; background-color: blue">
          <h3>These cows are progressing very well!</h3>
          <a href="#" class="btn btn-light">Cow ID#</a>
          <a href="#" class="btn btn-light">Cow ID#</a>
        </div>
      </div>
    </div>
  </body>
</html>
